.Input{
    width: 100%;
    font-family: 'cursive';
    outline: none;
    background: #ffffff;
    padding: 4px;
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    border-color: #ffffff;
  
}
.Input::placeholder{
    
    font-family: 'cursive';
    font-size: 20px;
    color: #000;
}